<% if (data.body.items.length === 0) { %>
  <p> No se han encontrado albumes.</p>
<% } else { %>
  <div class="">
    <% data.body.items.forEach((album) => { %>
      <div class="">
        <div class="">
          <% if(album.images.length > 0) { %>
            <img class="" src="<%= album.images[0].url %>" alt="<%= album.name %>">
          <% } else { %>
            <img class="" src="/images/noimg.jpg" alt="<%= album.name %>">
          <% } %>
          <div class="">
            <h2> <%= album.name %> </h2>
            <p> <a href="/tracks/<%= album.id %>" class="">Ver canción</a></p>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
<% } %>
