<% if (data.body.items.length === 0) { %>
  <p> No se han encontrado albunes</p>
<% } else { %>
  <h1> Albunes </h1>
  <div class="row row-album">
    <% data.body.items.forEach((album) => { %>
      <div class="col-sm-4">
        <div class="card">
          <% if(album.images.length > 0) { %>
            <img class="card-img-top" src="<%= album.images[0].url %>" alt="<%= album.name %>">
          <% } else { %>
            <img class="card-img-top" src="/images/noimg.jpg" alt="<%= album.name %>">
          <% } %>
          <div class="card-body">
            <h2 class="card-title"> <%= album.name %> </h2>
            <p class="card-title"> <a href="/tracks/<%= album.id %>" class="">Ver canción</a></p>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
<% } %>
