<% if (data.body.artists.items.length === 0 ) { %>
  <p>Lo siento, no se ha encontrado ningún artista que coincida con tu busqueda.</p>
<% } else { %>
  <h1>Resultados en base a tu busqueda...</h1>
  <div class="row">
    <% data.body.artists.items.forEach((artist) => { %>
      <div class="col-sm-4">
        <div class="card">
          <% if(artist.images.length > 0) { %>
            <img class="card-img-top" src="<%= artist.images[0].url %>" alt="<%= artist.name %>">
          <% } else { %>
            <img class="card-img-top" src="/images/noimg.jpg" alt="<%= artist.name %>">
          <% } %>
          <div class="card-body">
            <h2 class="card-title"> <%= artist.name %> </h2>
            <p class="card-text"> <a href="/albums/<%= artist.id %>" class="btn btn-dark">Ver albumes</a></p>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
<% } %>
